<div class="container m-auto">
  <div class="opacity-30 bg-cover" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 100%), url('https://cdn.shopify.com/s/files/1/0285/1316/products/w0106_1s_Blue-Watercolor-Pattern-Wallpaper-for-Walls-Outside-the-Lines_Repeating-Pattern-Sample-1.jpg'); height: 75vh;">
    <div class="mx-auto flex flex-wrap content-center h-full w-4/6">

      <h1 class="w-full font-title-play text-3xl">Bienvenue sur Loquacious</h1>
      <p class="font-body-philo text-xl">Partons chaque jour à la découverte d'un mot.</p>

      <!-- Search bar bar -->
      <h1 class="w-full my-2">
      <%= form_tag root_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "inline-block w-5/12 py-1 px-3 font-body-philo bg-transparent border border-black border-opacity-25 italic text-lg rounded-full",
          placeholder: "Cherche un mot, sa définition..."
        %>
        <%= button_tag type: 'submit', class: "pl-1 -ml-10 text-lg" do %>
        <p>🔎</p>
        <% end %>
      <% end %></h1>

      <!-- Search bar results -->
      <ul class="overflow-auto h-40 pl-5 w-full">
        <% unless params[:query].present? && @words.count == 0 %>
          <% @words.each do |word| %>
            <% unless @today.id < word.id %>
              <li class="font-body-philo text-gray-800 text-lg">• <%= link_to word.name , word_path(word) %></li>
            <% else %>
              <li class="font-body-philo italic text-gray-800 text-lg">Oups, aucun mot ne correspond à ta requête !</li>
            <% end %>
          <% end %>
        <% else %>
            <li class="font-body-philo italic text-gray-800 text-lg">Oups, aucun mot ne correspond à ta requête !</li>
        <% end %>
      </ul>

    </div>
      <p class="font-title-play text-4xl -mt-10 pt-1 text-center"><%= link_to 'Tous les mots', words_path  %></p>
  </div>
</div>

